///////////////////////////////////////////////////
// MAIN.SCSS
// THIS IS THE MAIN SCSS PIPELINE START
//////////////////////////////////////////////////

@use "atomic-vars/main" as _vars; // Open Props SCSS

//IMPORT BOOTSTRAP 
// @import "bootstrap-loader"; 

// Winden Tailwind Support 
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import 'pico-scss/pico'; // PicoCSS for  SCSS

// // THE THEME STUFF 
// @import "wp_basic_styles";      
// @import "picostrap";  
// @import "woocommerce";

// @import "components/core";

// CUSTOM CSS : THE CHILD THEME STUFF, IF ITS THERE
// @import "custom";

body {
    @apply bg-gray-50;
}


/* Define the .scrollbar-hide class */
.scrollbar-hide {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

/* Define styles for when the scrollbar is hidden */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.related-cards {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wp-block-embed__wrapper {
    height: 24rem;
}

.brand-name-gradient {
    @apply bg-gradient-to-br from-accent-400 to-support-400 text-transparent bg-clip-text;
}

.brand-logo-gradient {
    @apply bg-gradient-to-br from-accent-400 to-support-400;
}

.primary-gradient {
    @apply bg-gradient-to-br from-brand-300 via-brand-500 to-brand-300;
}

.alt-gradient {
    @apply bg-gradient-to-br from-brand-500 via-brand-300 to-brand-500;
}

.text-brand-gradient {
    @apply font-black bg-gradient-to-br from-brand-300 via-brand-500 to-brand-300 text-transparent bg-clip-text;
}

.text-brand-gradient-alt {
    @apply font-black bg-gradient-to-br from-brand-500 via-brand-300 to-brand-500 text-transparent bg-clip-text;
}

.bg-brand-gradient {
    @apply bg-gradient-to-br from-brand-300 via-brand-400 to-brand-300;
}

.canvas-text {
    @apply bg-gradient-to-br from-black/90 via-black/70 to-black/90 text-transparent bg-clip-text;
}

.bg-brand-gradient-alt {
    @apply bg-gradient-to-br from-brand-400 via-brand-300 to-brand-400;
}

.box-card {
    @apply bg-gradient-to-br from-support-50 to-accent-50 shadow-inner ring-1 ring-gray-700/10 rounded-3xl;
}

.brand-background {
    @apply rounded-3xl border bg-gradient-to-br from-accent-300/30 via-support-300/30 to-brand-300/20 backdrop-blur-md ring-1 ring-brand-100 shadow-lg shadow-brand-300/50;
}

.brand-circle {
    @apply bg-gradient-to-br from-brand-100 via-brand-300 to-brand-100 ring-1 ring-gray-700/10 shadow-lg backdrop-blur-md text-white;
}

