<div class="h-screen">
	<div class="bg-gray-50 pb-32">
		<nav class="bg-gray-50">
			<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
				<div class="border-b bg-white px-4 rounded-b-2xl shadow-inner ring-1 ring-gray-800/10 pb-2 bg-gray-10">
					<div class="flex h-16 items-center justify-between px-4 sm:px-0">
						<div class="flex items-center">
							<div class="flex-shrink-0">
								<svg class="h-6" viewbox="0 0 164 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.617898 13.233V11.8054C1.43703 11.8054 2.00521 11.642 2.32244 11.3153C2.63968 10.9886 2.7983 10.4607 2.7983 9.73153V8.16193C2.7983 7.28598 2.91903 6.58523 3.16051 6.05966C3.40672 5.52936 3.74763 5.12926 4.18324 4.85938C4.62358 4.58949 5.14441 4.40956 5.74574 4.3196C6.34706 4.22964 7.00521 4.18466 7.72017 4.18466V6.44318C7.16146 6.44318 6.73532 6.51657 6.44176 6.66335C6.15294 6.8054 5.95644 7.02794 5.85227 7.33097C5.74811 7.62926 5.69602 8.00805 5.69602 8.46733V10.5412C5.69602 10.901 5.62974 11.2443 5.49716 11.571C5.36458 11.893 5.11837 12.1795 4.75852 12.4304C4.39867 12.6766 3.88494 12.8731 3.21733 13.0199C2.54972 13.1619 1.68324 13.233 0.617898 13.233ZM7.72017 22.1605C7.00521 22.1605 6.34706 22.1155 5.74574 22.0256C5.14441 21.9356 4.62358 21.7557 4.18324 21.4858C3.74763 21.2159 3.40672 20.8158 3.16051 20.2855C2.91903 19.7599 2.7983 19.0592 2.7983 18.1832V16.6065C2.7983 15.8774 2.63968 15.3494 2.32244 15.0227C2.00521 14.696 1.43703 14.5327 0.617898 14.5327V13.1051C1.68324 13.1051 2.54972 13.1785 3.21733 13.3253C3.88494 13.4673 4.39867 13.6638 4.75852 13.9148C5.11837 14.161 5.36458 14.4474 5.49716 14.7741C5.62974 15.0961 5.69602 15.4394 5.69602 15.804V17.8778C5.69602 18.3324 5.74811 18.7088 5.85227 19.0071C5.95644 19.3101 6.15294 19.5327 6.44176 19.6747C6.73532 19.8215 7.16146 19.8949 7.72017 19.8949V22.1605ZM0.617898 14.5327V11.8054H3.16761V14.5327H0.617898Z" fill="#5995B5"/>
									<path d="M8.30149 13.233V11.8054C9.12062 11.8054 9.6888 11.642 10.006 11.3153C10.3233 10.9886 10.4819 10.4607 10.4819 9.73153V8.16193C10.4819 7.28598 10.6026 6.58523 10.8441 6.05966C11.0903 5.52936 11.4312 5.12926 11.8668 4.85938C12.3072 4.58949 12.828 4.40956 13.4293 4.3196C14.0307 4.22964 14.6888 4.18466 15.4038 4.18466V6.44318C14.8451 6.44318 14.4189 6.51657 14.1254 6.66335C13.8365 6.8054 13.64 7.02794 13.5359 7.33097C13.4317 7.62926 13.3796 8.00805 13.3796 8.46733V10.5412C13.3796 10.901 13.3133 11.2443 13.1808 11.571C13.0482 11.893 12.802 12.1795 12.4421 12.4304C12.0823 12.6766 11.5685 12.8731 10.9009 13.0199C10.2333 13.1619 9.36683 13.233 8.30149 13.233ZM15.4038 22.1605C14.6888 22.1605 14.0307 22.1155 13.4293 22.0256C12.828 21.9356 12.3072 21.7557 11.8668 21.4858C11.4312 21.2159 11.0903 20.8158 10.8441 20.2855C10.6026 19.7599 10.4819 19.0592 10.4819 18.1832V16.6065C10.4819 15.8774 10.3233 15.3494 10.006 15.0227C9.6888 14.696 9.12062 14.5327 8.30149 14.5327V13.1051C9.36683 13.1051 10.2333 13.1785 10.9009 13.3253C11.5685 13.4673 12.0823 13.6638 12.4421 13.9148C12.802 14.161 13.0482 14.4474 13.1808 14.7741C13.3133 15.0961 13.3796 15.4394 13.3796 15.804V17.8778C13.3796 18.3324 13.4317 18.7088 13.5359 19.0071C13.64 19.3101 13.8365 19.5327 14.1254 19.6747C14.4189 19.8215 14.8451 19.8949 15.4038 19.8949V22.1605ZM8.30149 14.5327V11.8054H10.8512V14.5327H8.30149Z" fill="#ED6EB0"/>
									<path d="M35.6506 8.09091V10.3636H29.081V8.09091H35.6506ZM30.5724 5.47727H33.598V15.6477C33.598 15.9271 33.6406 16.1449 33.7259 16.3011C33.8111 16.4527 33.9295 16.5592 34.081 16.6207C34.2372 16.6823 34.4171 16.7131 34.6207 16.7131C34.7628 16.7131 34.9048 16.7012 35.0469 16.6776C35.1889 16.6491 35.2978 16.6278 35.3736 16.6136L35.8494 18.8651C35.6979 18.9124 35.4848 18.9669 35.2102 19.0284C34.9356 19.0947 34.6018 19.1349 34.2088 19.1491C33.4796 19.1776 32.8404 19.0805 32.2912 18.858C31.7467 18.6354 31.3229 18.2898 31.0199 17.821C30.7169 17.3523 30.5677 16.7604 30.5724 16.0455V5.47727ZM37.1214 19V8.09091H40.147V19H37.1214ZM38.6413 6.68466C38.1915 6.68466 37.8056 6.53551 37.4837 6.23722C37.1664 5.93419 37.0078 5.57197 37.0078 5.15057C37.0078 4.7339 37.1664 4.37642 37.4837 4.07812C37.8056 3.77509 38.1915 3.62358 38.6413 3.62358C39.0911 3.62358 39.4747 3.77509 39.7919 4.07812C40.1139 4.37642 40.2749 4.7339 40.2749 5.15057C40.2749 5.57197 40.1139 5.93419 39.7919 6.23722C39.4747 6.53551 39.0911 6.68466 38.6413 6.68466ZM42.0707 19V8.09091H44.9542V10.0156H45.082C45.3093 9.37642 45.6881 8.87216 46.2184 8.50284C46.7487 8.13352 47.3832 7.94886 48.1218 7.94886C48.8699 7.94886 49.5067 8.13589 50.0323 8.50994C50.5579 8.87926 50.9083 9.38116 51.0835 10.0156H51.1971C51.4196 9.39062 51.8221 8.8911 52.4045 8.51705C52.9916 8.13826 53.6853 7.94886 54.4854 7.94886C55.5034 7.94886 56.3297 8.2732 56.9641 8.92188C57.6033 9.56581 57.9229 10.4796 57.9229 11.6634V19H54.9045V12.2599C54.9045 11.6539 54.7435 11.1993 54.4215 10.8963C54.0996 10.5933 53.6971 10.4418 53.2141 10.4418C52.6649 10.4418 52.2364 10.617 51.9286 10.9673C51.6209 11.313 51.467 11.7699 51.467 12.3381V19H48.5337V12.196C48.5337 11.661 48.3799 11.2348 48.0721 10.9176C47.7691 10.6004 47.369 10.4418 46.8718 10.4418C46.5356 10.4418 46.2326 10.527 45.9627 10.6974C45.6976 10.8632 45.4869 11.0975 45.3306 11.4006C45.1744 11.6989 45.0962 12.0492 45.0962 12.4517V19H42.0707ZM59.8697 19V4.45455H62.8952V9.9233H62.9876C63.1201 9.62973 63.3119 9.33144 63.5629 9.02841C63.8185 8.72064 64.15 8.46496 64.5572 8.26136C64.9691 8.05303 65.4805 7.94886 66.0913 7.94886C66.8867 7.94886 67.6206 8.1572 68.293 8.57386C68.9653 8.9858 69.5027 9.60843 69.9052 10.4418C70.3076 11.2704 70.5089 12.3097 70.5089 13.5597C70.5089 14.7765 70.3124 15.804 69.9194 16.642C69.5311 17.4754 69.0008 18.1075 68.3285 18.5384C67.6609 18.9645 66.9128 19.1776 66.0842 19.1776C65.497 19.1776 64.9975 19.0805 64.5856 18.8864C64.1784 18.6922 63.8446 18.4484 63.5842 18.1548C63.3237 17.8565 63.1249 17.5559 62.9876 17.2528H62.8526V19H59.8697ZM62.8313 13.5455C62.8313 14.1941 62.9213 14.7599 63.1012 15.2429C63.2811 15.7259 63.5415 16.1023 63.8825 16.3722C64.2234 16.6373 64.6377 16.7699 65.1254 16.7699C65.6178 16.7699 66.0344 16.6349 66.3754 16.3651C66.7163 16.0904 66.9743 15.7116 67.1495 15.2287C67.3294 14.741 67.4194 14.1799 67.4194 13.5455C67.4194 12.9157 67.3318 12.3617 67.1566 11.8835C66.9814 11.4053 66.7234 11.0312 66.3825 10.7614C66.0415 10.4915 65.6225 10.3565 65.1254 10.3565C64.6329 10.3565 64.2163 10.4867 63.8754 10.7472C63.5392 11.0076 63.2811 11.3769 63.1012 11.8551C62.9213 12.3333 62.8313 12.8968 62.8313 13.5455ZM76.9993 19.2131C75.8771 19.2131 74.9112 18.9858 74.1016 18.5312C73.2966 18.072 72.6764 17.4233 72.2408 16.5852C71.8052 15.7424 71.5874 14.7457 71.5874 13.5952C71.5874 12.473 71.8052 11.4882 72.2408 10.6406C72.6764 9.79309 73.2895 9.13258 74.0803 8.65909C74.8757 8.18561 75.8085 7.94886 76.8786 7.94886C77.5982 7.94886 78.2682 8.06487 78.8885 8.29688C79.5135 8.52415 80.058 8.86742 80.522 9.3267C80.9908 9.78598 81.3554 10.3636 81.6158 11.0597C81.8762 11.7509 82.0064 12.5606 82.0064 13.4886V14.3196H72.7947V12.4446H79.1584C79.1584 12.009 79.0637 11.6231 78.8743 11.2869C78.6849 10.9508 78.4221 10.688 78.0859 10.4986C77.7545 10.3045 77.3686 10.2074 76.9283 10.2074C76.469 10.2074 76.0618 10.3139 75.7067 10.527C75.3563 10.7353 75.0817 11.017 74.8828 11.3722C74.6839 11.7225 74.5821 12.1132 74.5774 12.544V14.3267C74.5774 14.8665 74.6768 15.3329 74.8757 15.7259C75.0793 16.1188 75.3658 16.4219 75.7351 16.6349C76.1044 16.848 76.5424 16.9545 77.049 16.9545C77.3852 16.9545 77.6929 16.9072 77.9723 16.8125C78.2517 16.7178 78.4908 16.5758 78.6896 16.3864C78.8885 16.197 79.04 15.965 79.1442 15.6903L81.9425 15.875C81.8004 16.5473 81.5092 17.1345 81.0689 17.6364C80.6333 18.1335 80.0698 18.5218 79.3786 18.8011C78.692 19.0758 77.8989 19.2131 76.9993 19.2131ZM83.4808 19V8.09091H86.4141V9.99432H86.5277C86.7266 9.31723 87.0604 8.80587 87.5291 8.46023C87.9979 8.10985 88.5376 7.93466 89.1484 7.93466C89.3 7.93466 89.4633 7.94413 89.6385 7.96307C89.8137 7.98201 89.9676 8.00805 90.1001 8.04119V10.7259C89.9581 10.6832 89.7616 10.6454 89.5107 10.6122C89.2597 10.5791 89.0301 10.5625 88.8217 10.5625C88.3767 10.5625 87.9789 10.6596 87.6286 10.8537C87.2829 11.0431 87.0083 11.3082 86.8047 11.6491C86.6058 11.9901 86.5064 12.383 86.5064 12.8281V19H83.4808ZM100.241 11.2017L97.4712 11.3722C97.4239 11.1354 97.3221 10.9223 97.1658 10.733C97.0096 10.5388 96.8036 10.3849 96.5479 10.2713C96.297 10.1529 95.9963 10.0938 95.646 10.0938C95.1772 10.0938 94.7818 10.1932 94.4599 10.392C94.1379 10.5862 93.9769 10.8466 93.9769 11.1733C93.9769 11.4337 94.0811 11.6539 94.2894 11.8338C94.4978 12.0137 94.8552 12.1581 95.3619 12.267L97.3363 12.6648C98.3969 12.8826 99.1876 13.233 99.7085 13.7159C100.229 14.1989 100.49 14.8333 100.49 15.6193C100.49 16.3343 100.279 16.9616 99.8576 17.5014C99.4409 18.0412 98.868 18.4626 98.1388 18.7656C97.4144 19.0639 96.5787 19.2131 95.6317 19.2131C94.1876 19.2131 93.0371 18.9124 92.18 18.3111C91.3278 17.705 90.8282 16.8812 90.6815 15.8395L93.6573 15.6832C93.7473 16.1236 93.9651 16.4598 94.3107 16.6918C94.6564 16.919 95.0991 17.0327 95.6388 17.0327C96.1692 17.0327 96.5953 16.9309 96.9173 16.7273C97.244 16.5189 97.4097 16.2514 97.4144 15.9247C97.4097 15.6501 97.2937 15.4252 97.0664 15.25C96.8391 15.0701 96.4888 14.9328 96.0153 14.8381L94.1261 14.4616C93.0607 14.2486 92.2676 13.8793 91.7468 13.3537C91.2307 12.8281 90.9727 12.1581 90.9727 11.3438C90.9727 10.643 91.1621 10.0393 91.5408 9.53267C91.9244 9.02604 92.4618 8.63542 93.1531 8.3608C93.8491 8.08617 94.6635 7.94886 95.5962 7.94886C96.9741 7.94886 98.0584 8.24006 98.8491 8.82244C99.6445 9.40483 100.109 10.1979 100.241 11.2017ZM107.697 8.09091V10.3636H101.128V8.09091H107.697ZM102.619 5.47727H105.645V15.6477C105.645 15.9271 105.688 16.1449 105.773 16.3011C105.858 16.4527 105.976 16.5592 106.128 16.6207C106.284 16.6823 106.464 16.7131 106.668 16.7131C106.81 16.7131 106.952 16.7012 107.094 16.6776C107.236 16.6491 107.345 16.6278 107.42 16.6136L107.896 18.8651C107.745 18.9124 107.532 18.9669 107.257 19.0284C106.982 19.0947 106.649 19.1349 106.256 19.1491C105.527 19.1776 104.887 19.0805 104.338 18.858C103.794 18.6354 103.37 18.2898 103.067 17.821C102.764 17.3523 102.615 16.7604 102.619 16.0455V5.47727ZM109.168 19V8.09091H112.102V9.99432H112.215C112.414 9.31723 112.748 8.80587 113.217 8.46023C113.685 8.10985 114.225 7.93466 114.836 7.93466C114.987 7.93466 115.151 7.94413 115.326 7.96307C115.501 7.98201 115.655 8.00805 115.788 8.04119V10.7259C115.646 10.6832 115.449 10.6454 115.198 10.6122C114.947 10.5791 114.718 10.5625 114.509 10.5625C114.064 10.5625 113.666 10.6596 113.316 10.8537C112.97 11.0431 112.696 11.3082 112.492 11.6491C112.293 11.9901 112.194 12.383 112.194 12.8281V19H109.168ZM119.65 19.206C118.954 19.206 118.334 19.0852 117.789 18.8438C117.245 18.5975 116.814 18.2353 116.497 17.7571C116.184 17.2741 116.028 16.6728 116.028 15.9531C116.028 15.3471 116.139 14.8381 116.362 14.4261C116.584 14.0142 116.887 13.6828 117.271 13.4318C117.654 13.1809 118.09 12.9915 118.578 12.8636C119.07 12.7358 119.586 12.6458 120.126 12.5938C120.761 12.5275 121.272 12.4659 121.66 12.4091C122.048 12.3475 122.33 12.2576 122.505 12.1392C122.681 12.0208 122.768 11.8456 122.768 11.6136V11.571C122.768 11.1212 122.626 10.7732 122.342 10.527C122.063 10.2808 121.665 10.1577 121.149 10.1577C120.604 10.1577 120.171 10.2784 119.849 10.5199C119.527 10.7566 119.314 11.0549 119.21 11.4148L116.412 11.1875C116.554 10.5246 116.833 9.9517 117.25 9.46875C117.666 8.98106 118.204 8.60701 118.862 8.34659C119.525 8.08144 120.292 7.94886 121.163 7.94886C121.769 7.94886 122.349 8.01989 122.903 8.16193C123.462 8.30398 123.957 8.52415 124.387 8.82244C124.823 9.12074 125.166 9.50426 125.417 9.97301C125.668 10.437 125.794 10.9934 125.794 11.642V19H122.924V17.4872H122.839C122.664 17.8281 122.43 18.1288 122.136 18.3892C121.842 18.6449 121.49 18.8461 121.078 18.9929C120.666 19.1349 120.19 19.206 119.65 19.206ZM120.517 17.1179C120.962 17.1179 121.355 17.0303 121.696 16.8551C122.037 16.6752 122.304 16.4337 122.498 16.1307C122.692 15.8277 122.789 15.4844 122.789 15.1009V13.9432C122.695 14.0047 122.565 14.0616 122.399 14.1136C122.238 14.161 122.056 14.206 121.852 14.2486C121.648 14.2865 121.445 14.322 121.241 14.3551C121.038 14.3835 120.853 14.4096 120.687 14.4332C120.332 14.4853 120.022 14.5682 119.757 14.6818C119.492 14.7955 119.286 14.9493 119.139 15.1435C118.992 15.3329 118.919 15.5696 118.919 15.8537C118.919 16.2656 119.068 16.5805 119.366 16.7983C119.669 17.0114 120.053 17.1179 120.517 17.1179ZM127.641 23.0909V8.09091H130.624V9.9233H130.759C130.891 9.62973 131.083 9.33144 131.334 9.02841C131.59 8.72064 131.921 8.46496 132.328 8.26136C132.74 8.05303 133.252 7.94886 133.863 7.94886C134.658 7.94886 135.392 8.1572 136.064 8.57386C136.737 8.9858 137.274 9.60843 137.676 10.4418C138.079 11.2704 138.28 12.3097 138.28 13.5597C138.28 14.7765 138.084 15.804 137.691 16.642C137.302 17.4754 136.772 18.1075 136.1 18.5384C135.432 18.9645 134.684 19.1776 133.855 19.1776C133.268 19.1776 132.769 19.0805 132.357 18.8864C131.95 18.6922 131.616 18.4484 131.355 18.1548C131.095 17.8565 130.896 17.5559 130.759 17.2528H130.667V23.0909H127.641ZM130.603 13.5455C130.603 14.1941 130.693 14.7599 130.873 15.2429C131.052 15.7259 131.313 16.1023 131.654 16.3722C131.995 16.6373 132.409 16.7699 132.897 16.7699C133.389 16.7699 133.806 16.6349 134.147 16.3651C134.488 16.0904 134.746 15.7116 134.921 15.2287C135.101 14.741 135.191 14.1799 135.191 13.5455C135.191 12.9157 135.103 12.3617 134.928 11.8835C134.753 11.4053 134.495 11.0312 134.154 10.7614C133.813 10.4915 133.394 10.3565 132.897 10.3565C132.404 10.3565 131.988 10.4867 131.647 10.7472C131.31 11.0076 131.052 11.3769 130.873 11.8551C130.693 12.3333 130.603 12.8968 130.603 13.5455Z" fill="#032B1D"/>
									<path d="M154.564 13.1051V14.5327C153.75 14.5327 153.181 14.696 152.859 15.0227C152.542 15.3494 152.384 15.8774 152.384 16.6065V18.1832C152.384 19.0592 152.26 19.7599 152.014 20.2855C151.773 20.8158 151.432 21.2159 150.991 21.4858C150.556 21.7557 150.037 21.9356 149.436 22.0256C148.839 22.1155 148.181 22.1605 147.462 22.1605V19.8949C148.02 19.8949 148.444 19.8215 148.733 19.6747C149.027 19.5327 149.225 19.3101 149.33 19.0071C149.434 18.7088 149.486 18.3324 149.486 17.8778V15.804C149.486 15.4394 149.552 15.0961 149.685 14.7741C149.817 14.4474 150.063 14.161 150.423 13.9148C150.783 13.6638 151.297 13.4673 151.964 13.3253C152.632 13.1785 153.499 13.1051 154.564 13.1051ZM147.462 4.18466C148.181 4.18466 148.839 4.22964 149.436 4.3196C150.037 4.40956 150.556 4.58949 150.991 4.85938C151.432 5.12926 151.773 5.52936 152.014 6.05966C152.26 6.58523 152.384 7.28598 152.384 8.16193V9.73153C152.384 10.4607 152.542 10.9886 152.859 11.3153C153.181 11.642 153.75 11.8054 154.564 11.8054V13.233C153.499 13.233 152.632 13.1619 151.964 13.0199C151.297 12.8731 150.783 12.6766 150.423 12.4304C150.063 12.1795 149.817 11.893 149.685 11.571C149.552 11.2443 149.486 10.901 149.486 10.5412V8.46733C149.486 8.00805 149.434 7.62926 149.33 7.33097C149.225 7.02794 149.027 6.8054 148.733 6.66335C148.444 6.51657 148.02 6.44318 147.462 6.44318V4.18466ZM154.564 11.8054V14.5327H152.014V11.8054H154.564Z" fill="#5995B5"/>
									<path d="M162.248 13.1051V14.5327C161.433 14.5327 160.865 14.696 160.543 15.0227C160.226 15.3494 160.067 15.8774 160.067 16.6065V18.1832C160.067 19.0592 159.944 19.7599 159.698 20.2855C159.456 20.8158 159.115 21.2159 158.675 21.4858C158.239 21.7557 157.721 21.9356 157.12 22.0256C156.523 22.1155 155.865 22.1605 155.145 22.1605V19.8949C155.704 19.8949 156.128 19.8215 156.417 19.6747C156.71 19.5327 156.909 19.3101 157.013 19.0071C157.117 18.7088 157.169 18.3324 157.169 17.8778V15.804C157.169 15.4394 157.236 15.0961 157.368 14.7741C157.501 14.4474 157.747 14.161 158.107 13.9148C158.467 13.6638 158.98 13.4673 159.648 13.3253C160.316 13.1785 161.182 13.1051 162.248 13.1051ZM155.145 4.18466C155.865 4.18466 156.523 4.22964 157.12 4.3196C157.721 4.40956 158.239 4.58949 158.675 4.85938C159.115 5.12926 159.456 5.52936 159.698 6.05966C159.944 6.58523 160.067 7.28598 160.067 8.16193V9.73153C160.067 10.4607 160.226 10.9886 160.543 11.3153C160.865 11.642 161.433 11.8054 162.248 11.8054V13.233C161.182 13.233 160.316 13.1619 159.648 13.0199C158.98 12.8731 158.467 12.6766 158.107 12.4304C157.747 12.1795 157.501 11.893 157.368 11.571C157.236 11.2443 157.169 10.901 157.169 10.5412V8.46733C157.169 8.00805 157.117 7.62926 157.013 7.33097C156.909 7.02794 156.71 6.8054 156.417 6.66335C156.128 6.51657 155.704 6.44318 155.145 6.44318V4.18466ZM162.248 11.8054V14.5327H159.698V11.8054H162.248Z" fill="#ED6EB0"/>
								</svg>


							</div>
							<div class="hidden md:block">
								<div
									class="ml-10 hidden  items-baseline space-x-4">
									<!-- Current: "bg-gray-900 text-black", Default: "text-gray-700 hover:bg-gray-700 hover:text-black" -->
									<a href="#" class="bg-gray-900 text-black rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
									<a href="#" class="text-gray-700 hover:bg-gray-700 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Team</a>
									<a href="#" class="text-gray-700 hover:bg-gray-700 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Projects</a>
									<a href="#" class="text-gray-700 hover:bg-gray-700 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Calendar</a>
									<a href="#" class="text-gray-700 hover:bg-gray-700 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Reports</a>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
							<div class="ml-4  hidden items-center md:ml-6">
								<button type="button" class="relative rounded-full bg-gray-200 p-1 text-gray-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
									<span class="absolute -inset-1.5"></span>
									<span class="sr-only">View notifications</span>
									<svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
										<path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
									</svg>
								</button>

								<!-- Profile dropdown -->
								<div class="relative ml-3 hidden">
									<div class="hidden">
										<button type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-200 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
											<span class="absolute -inset-1.5"></span>
											<span class="sr-only">Open user menu</span>
											<img class="h-8 w-8 rounded-full" src="{{ user.gravtar_url({ size: 150}) }}" alt="">

										</button>
									</div>

									<!--
																																																																																																																																																																																																																																																																														                    Dropdown menu, show/hide based on menu state.
																																																																																																																																																																																																																																																																														
																																																																																																																																																																																																																																																																														                    Entering: "transition ease-out duration-100"
																																																																																																																																																																																																																																																																														                      From: "transform opacity-0 scale-95"
																																																																																																																																																																																																																																																																														                      To: "transform opacity-100 scale-100"
																																																																																																																																																																																																																																																																														                    Leaving: "transition ease-in duration-75"
																																																																																																																																																																																																																																																																														                      From: "transform opacity-100 scale-100"
																																																																																																																																																																																																																																																																														                      To: "transform opacity-0 scale-95"
																																																																																																																																																																																																																																																																														                  -->
									<div
										class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
										<!-- Active: "bg-gray-100", Not Active: "" -->
										<a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
										<a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
										<a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
									</div>
								</div>
							</div>
						</div>
						<div
							class="-mr-2 flex md:hidden">
							<!-- Mobile menu button -->
							<button type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-200 p-2 text-gray-400 hover:bg-gray-700 hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
								<span class="absolute -inset-0.5"></span>
								<span class="sr-only">Open main menu</span>
								<!-- Menu open: "hidden", Menu closed: "block" -->
								<svg class="block h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
								</svg>
								<!-- Menu open: "block", Menu closed: "hidden" -->
								<svg class="hidden h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Mobile menu, show/hide based on menu state. -->
			<div class="border-b bg-gray-50 md:hidden" id="mobile-menu">
				<div
					class="space-y-1 px-2 py-3 sm:px-3">
					<!-- Current: "bg-gray-900 text-black", Default: "text-gray-700 hover:bg-gray-700 hover:text-black" -->
					<a href="#" class="bg-gray-900 text-black block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
					<a href="#" class="text-gray-700 hover:bg-gray-700 hover:text-black block rounded-md px-3 py-2 text-base font-medium">Team</a>
					<a href="#" class="text-gray-700 hover:bg-gray-700 hover:text-black block rounded-md px-3 py-2 text-base font-medium">Projects</a>
					<a href="#" class="text-gray-700 hover:bg-gray-700 hover:text-black block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
					<a href="#" class="text-gray-700 hover:bg-gray-700 hover:text-black block rounded-md px-3 py-2 text-base font-medium">Reports</a>
				</div>
				<div class="border-t bg-gray-50 pb-3 pt-4">
					<div class="flex items-center px-5">
						<div class="flex-shrink-0">
							<img class="h-10 w-10 rounded-full" src="{{ user.avatar({ size: 150}) }}" alt="">

						</div>
						<div class="ml-3">
							<div class="text-base font-medium leading-none text-black">{{ user.display_name }}</div>
							<div class="text-sm font-medium leading-none text-gray-400">{{ user.user_email }}
							</div>
						</div>
						<button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-gray-200 p-1 text-gray-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
							<span class="absolute -inset-1.5"></span>
							<span class="sr-only">View notifications</span>
							<svg class="h-6 w-6 hidden" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
							</svg>
						</button>
					</div>
					<div class="mt-3 hidden space-y-1 px-2">
						<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-black">Your Profile</a>
						<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-black">Settings</a>
						<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-black">Sign out</a>
					</div>
				</div>
			</div>
		</nav>
		<header class="py-10">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<h1 class="text-3xl font-bold tracking-tight text-black">Dashboard</h1>
			</div>
		</header>
	</div>
