<div 
    x-data="{
        content: '{{ function('html_entity_decode', CurrentPost.content)|e('js')|raw }}',
        theme: 'monokai',
        mode: 'twig',
        editor: null,
        initAceEditor() {
            this.editor = ace.edit('custom-ace-editor');
            this.updateEditorSettings();

            this.editor.session.setValue(this.content);
            this.editor.session.on('change', () => {
                this.content = this.editor.session.getValue();
            });

            this.$watch('content', (newContent) => {
                document.getElementById('content').value = newContent;
            });
        },
        updateEditorSettings() {
            this.editor.setTheme('ace/theme/' + this.theme);
            this.editor.session.setMode('ace/mode/' + this.mode);
        }
    }" 
    x-init="initAceEditor()"
>
<div class="container" style="padding-inline: 1rem; padding-block: 1rem; display; flex; gap: 1rem;">

    <label for="theme">Theme:</label>
    <select id="theme" x-model="theme" @change="updateEditorSettings">
        <option value="monokai">Monokai</option>
        <option value="github">GitHub</option>
        <!-- Add more theme options here -->
    </select>


    <label for="mode">Mode:</label>
    <select id="mode" x-model="mode" @change="updateEditorSettings">
        <option value="twig">Twig</option>
        <option value="javascript">JavaScript</option>
        <!-- Add more mode options here -->
    </select>

</div>

    <div id="custom-ace-editor" style="width: 100%; height: 400px;"></div>
</div>
<textarea id="content" name="content" x-model="content" style="display: none;"></textarea>

{% set state = CompletePost(CurrentPost) %}
{{ include('@partials/debug.twig') }}
